body{
    background-color: white;
    /* overflow-y: hidden */
};

.poke-red{
    background-color: #fc353b;
}

.details-text{
    font-family: 'Courier New', Courier, monospace;
}

.hold-base-container{
    background-color: white;
    text-align: center;
    width: 100%;
    
}
.base-pokedex{
    display: inline-block;
    background-color: #fc353b;
    width: 65vw;
    height: 98vh;
    padding: 0px 0px 40px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.rectangle--big{
    width: 35vw;
    height: 89.9vh;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.rectangle--medium{
    width: 25vw;
    height: 89.9vh;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.thin-black-round{
    border-radius: 5px;
    border-color: #080808;
    border-width: 3px;
    border-style: solid;
}
.glass-display{
    background-color: white;
    display: flex;
    border: #080808 solid 3px;
    margin: 5px;
    width: 22vw;
    /* height: 70vh; */
    justify-content: center;
    text-align: start;
}

.rectangle{
    display: inline-block;
    /* flex: 1; */
}

td, label, .info-poke-item{
    text-transform: capitalize;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: #080808;
}

td{
    padding-left: 1vw;
    padding-right: 1vw;
}

table{
    /* width: 25vw; */
    padding-left: 10px;
    border-collapse: collapse;
}
.frame{
    background-color: #c2c2c2;
    display: inline-flex;
    border: #080808 solid 3px;
    /* margin: 20px; */
    margin: 30px 0px;
    width: 23vw;
}

button{
    border-radius: 5px;
    border-style: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    color: #080808;
    background-color: transparent;
    vertical-align: bottom;
}

.glass-display-details{
    background-color: white;
    display: inline-flex;
    margin: 50px 0px;
    width: 32vw;
    height: 70vh;
    justify-content: center;
    padding: 10px 0px;
}

.table-itens{
    border: #2296f3 dashed 3px;
}

.details-screen{
    width: 30vw;
}

.super-thin-grey-round{
    border-radius: 5px;
    border-color: rgb(242, 240, 240);
    border-width: 2px;
    border-style: solid;
}

.details-image{
    background-color: transparent; 
    height: 150px;
    width: 150px;
    justify-content: center;
    display: inline-flex;
}

.pokeball-details-button{
    width: 30px;
    cursor: pointer;
}

.pokeball-details-button:hover{
    rotate: -30deg;
}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.poke-title{
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    padding: 0px;
    margin: auto;
    margin-top: 20px;
    /* position: absolute; */
    /* display: inline-flexbox; */
    padding: 40px 0px 0px 0px;
}

.stats-div{
    display: flex;
    padding: 3px 0px;
}

input{
    border-radius: 6px;
    margin-bottom: 2px;
    text-align: center;
    height: auto;
    border-style: solid;
    font-family: 'Press Start 2P', cursive;
    border: #080808 solid 2px;
}

.decorative-ball{
    background-color: gainsboro;
    opacity: 0.2;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

.ball--big{
    width: 25px;
    height: 25px;
}
.ball--medium{
    width: 20px;
    height: 20px;
}
.ball--small{
    width: 15px;
    height: 15px;
}

.round-button{
    background-color: #2296f3;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin: 0px 10px 0px -40px;
    border: #080808 solid 3px;
}

.input-search{
    vertical-align: top;
    width: 300px;
    margin: 15px 0 0 0;
    height: 20px;
    text-align: start;
    padding: 2px 10px 2px 10px;
}